extends /templates/layout

block head
    title Contact Oscar Litorell

block content
    section
        h3 Contact
        hr.filled
        p The easiest way to contact me is to send an email to #[a(href='mailto:contact@oscarlitorell.com') contact@oscarlitorell.com].
        p You can also find me on GitHub as #[a(href='https://github.com/OscarLitorell') OscarLitorell].
        p I also have a #[a(href='http://linkedin.oscarlitorell.com') LinkedIn profile].

